<div class="container">
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="shadow-lg">
              <div class="card card-signin my-5">
                <div class="card-body">
                    <div>
                      <label>Linije</label>
                    </div>
                    <div class="form-label-group">
                        <select class="form-control" (change)="onSelectLine($event)">
                            <option></option>
                            <option  *ngFor="let l of lines" [value]="l.Id">{{l.LineName}}</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{BusX}}    {{BusY}}
  <div class="d-flex justify-content-center">
    <agm-map #AgmMap [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="mapZoom" style="height: 500px; width: 1100px;">
      <div>
        <agm-marker [latitude]="BusX" [longitude]="BusY">
          
        </agm-marker>
        <agm-marker *ngFor="let station of lineStations" [latitude]="station.XCoordinate" [longitude]="station.YCoordinate" [title]="station.name" [label]="" [iconUrl]="iconPath">
          <agm-info-window>
            Name: {{station.Name}}
            <br>
            Longitude: {{station.YCoordinate}}
            <br>
            Latitude: {{station.XCoordinate}}
            <br>
            Address: {{station.Address}}
          </agm-info-window>
        </agm-marker>
        
      </div>
      
      <div>
        <agm-polyline [strokeColor]="red">
          <agm-polyline-point *ngFor="let point of selLine.path" [latitude]="point.latitude" [longitude]="point.longitude">
          </agm-polyline-point>
        </agm-polyline>
      </div>
    </agm-map>
  </div>
  <br>
  </div>