<div class="login-page">
  <div>
      <div class="form">
        <form class="login-form" [formGroup]="addStationForm" (ngSubmit)="addStation()">
          <input formControlName="name" type="text" placeholder="Ime"/>
          <input formControlName="address" type="text" placeholder="Adresa"/>
          <input formControlName="xCoordinate" type="text" placeholder="X koordinata"/>
          <input formControlName="yCoordinate" type="text" placeholder="Y koordinata"/>
          <button type="submit" [disabled]="!addStationForm.valid">Dodaj stanicu</button>
        </form>
      </div>
    </div>
    <div>
        <div class="form">
          <form class="login-form" [formGroup]="editOrRemoveStationForm" (ngSubmit)="editStation()">
            <select formControlName="stations" (change)="onSelect($event)" class="selectClass">
              <option *ngFor="let s of stations"  [value] = "s.Id">{{s.Name}}</option> 
            </select>
            <input formControlName="name" type="text" placeholder="Ime"/>
            <input formControlName="address" type="text" placeholder="Adresa"/>
            <input formControlName="xCoordinate" type="text" placeholder="X koordinata"/>
            <input formControlName="yCoordinate" type="text" placeholder="Y koordinata"/>
            <button type="submit" [disabled]="!editOrRemoveStationForm.valid">Promeni stanicu</button>
            <br><br>
            <button (click)="deleteStation()">Obrisi nalog</button>
          </form>
        </div>
      </div>
    </div>
  