<div class="row">
<div class="login-page column">
      <div class="form">
        <form class="login-form" [formGroup]="addStationForm">
            <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                <agm-map (mapClick)="MapClicked($event)" [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="14" style="height: 300px;">
                    <div *ngIf="clicked">
                        <agm-marker [latitude]="addStationForm.controls.xCoordinate.value" [longitude]="addStationForm.controls.yCoordinate.value">
                          
                        </agm-marker>
                      </div>
                </agm-map>
            </div>
          <input formControlName="name" type="text" placeholder="Ime"/>
          <input formControlName="address" type="text" placeholder="Adresa"/>
          <input formControlName="xCoordinate" type="text" placeholder="X koordinata"/>
          <input formControlName="yCoordinate" type="text" placeholder="Y koordinata"/>
          <div *ngIf="addStationForm.valid">
              <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="addStation()">Dodaj stanicu</button>
            </div>
            <div *ngIf="!addStationForm.valid">
              <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!addStationForm.valid">Dodaj stanicu</button>
            </div><br>
        </form>
      </div>
    <div>
        <div class="form">
          <form class="login-form" [formGroup]="editOrRemoveStationForm">
            <select formControlName="stations" (change)="onSelect($event)" class="selectClass">
              <option *ngFor="let s of stations"  [value] = "s.Id">{{s.Name}}</option> 
            </select>
            <input formControlName="name" type="text" placeholder="Ime"/>
            <input formControlName="address" type="text" placeholder="Adresa"/>
            <input formControlName="xCoordinate" type="text" placeholder="X koordinata"/>
            <input formControlName="yCoordinate" type="text" placeholder="Y koordinata"/>
            <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                <agm-map (mapClick)="MapClickedEdit($event)" [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="14" style="height: 300px;">
                    <div *ngIf="clicked">
                        <agm-marker [latitude]="editOrRemoveStationForm.controls.xCoordinate.value" [longitude]="editOrRemoveStationForm.controls.yCoordinate.value">
                          
                        </agm-marker>
                      </div>
                </agm-map>
            </div>
            <div *ngIf="editOrRemoveStationForm.valid">
                <button class="btn btn-lg btn-primary text-uppercase active" (click)="editStation()">Uredi stanicu</button>
              </div>
              <div *ngIf="!editOrRemoveStationForm.valid">
                <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!editOrRemoveStationForm.valid">Uredi stanicu</button>
              </div>
            <br><br>
            <div *ngIf="editOrRemoveStationForm.valid">
                <button class="btn btn-lg btn-primary text-uppercase active" (click)="deleteStation()">Obrisi stanicu</button>
              </div>
              <div *ngIf="!editOrRemoveStationForm.valid">
                  <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!editOrRemoveStationForm.valid">Obrisi stanicu</button>
              </div>
          </form>
          <div>
            <label>Linije</label>
            <li *ngFor="let s of lines">
                  {{s}}
            </li>
          </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<!--<div>
    <app-map></app-map>
</div>
-->
</div>
  