<div class="d-flex justify-content-between ">
  <div class="login-page">
  <div class="form">
  <form class="login-form" [formGroup]="pricelistAddForm"><br><br>
  <div class="justify-content-between">
    <div>
        <label>Od</label>
        <input formControlName="from" type="text" class="form-control" disabled>
    </div>
    <br>
    <div>
        <label>Do</label>
        <input formControlName="to" name="to" type="datetime-local" class="form-control">
    </div>
      </div>
    <div class="form-label-group">
      <div *ngIf="pricelistAddForm.controls.timeTicket.errors" >
        <div *ngIf="pricelistAddForm.controls.timeTicket.errors.required && (pricelistAddForm.controls.timeTicket.dirty || pricelistAddForm.controls.timeTicket.touched)" class="badge badge-danger">Time ticket price is mandatory field</div>
      </div>
        <label>Vremenska karta </label>
        <input type="number" name="timeTicket" class="form-control" required formControlName="timeTicket">
    </div>
    <div class="form-label-group">
      <div *ngIf="pricelistAddForm.controls.dayTicket.errors" >
        <div *ngIf="pricelistAddForm.controls.dayTicket.errors.required && (pricelistAddForm.controls.dayTicket.dirty || pricelistAddForm.controls.dayTicket.touched)" class="badge badge-danger">Day ticket price is mandatory field</div>
      </div>
        <label>Dnevna karta </label>
        <input  type="number" name="dayTicket" class="form-control" required formControlName="dayTicket">
    </div>
    <div class="form-label-group">
      <div *ngIf="pricelistAddForm.controls.monthTicket.errors" >
        <div *ngIf="pricelistAddForm.controls.monthTicket.errors.required && (pricelistAddForm.controls.monthTicket.dirty || pricelistAddForm.controls.monthTicket.touched)" class="badge badge-danger">Month ticket price is mandatory field</div>
      </div>
        <label>Mesecna karta</label>
        <input type="number" name="monthTicket" class="form-control" required formControlName="monthTicket">
    </div>
    <div class="form-label-group">
      <div *ngIf="pricelistAddForm.controls.yearTicket.errors" >
        <div *ngIf="pricelistAddForm.controls.yearTicket.errors.required && (pricelistAddForm.controls.yearTicket.dirty || pricelistAddForm.controls.yearTicket.touched)" class="badge badge-danger">Year ticket price is mandatory field</div>
      </div>
        <label>Godisnja karta</label>
        <input  type="number" name="yearTicket" class="form-control" required formControlName="yearTicket">
    </div>
    <br> 

    <div *ngIf="pricelistAddForm.valid">
        <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="addPricelist()">Dodaj cenovnik</button>
      </div>
      <div *ngIf="!pricelistAddForm.valid">
        <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!pricelistAddForm.valid">Dodaj cenovnik</button>
      </div>
    <br>
  </form>
  </div>
</div>
<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="pricelistForm">
        <div class="form-label-group">
            <input type="hidden" name="from" class="form-control" required formControlName="from">
            <button type="button" class="form-control" disabled>{{pricelistForm.controls.from.value}}</button>
        </div>
        <br>
        <div class="form-label-group">
            <input type="hidden" name="to" class="form-control" required formControlName="to">
            <button type="button" class="form-control" disabled>{{pricelistForm.controls.to.value}}</button>
        </div>
        <br>
      <span> Vremenska karta </span>
      <input formControlName="timeTicket" type="number"/><br><br>
      <span> Dnevna karta </span>
      <input formControlName="dayTicket" type="number"/><br><br>
      <span> Mesecna karta </span>
      <input formControlName="monthTicket" type="number"/><br><br>
      <span> Godisnja karta</span>
      <input formControlName="yearTicket" type="number"/><br><br>
      <br><br>
      
      <div *ngIf="pricelistForm.valid">
          <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="editPricelist()">Edit Pricelist</button>
        </div>
        <div *ngIf="!pricelistForm.valid">
          <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!pricelistForm.valid">Edit Pricelist</button>
        </div>
    </form>
  </div>
</div>
</div>
