<nav>
  <ul>
    <li><a routerLink="/">Mreza linija</a></li>
    <li><a routerLink="/" >Red voznje</a></li>
    <li><a routerLink="/">Trenutna lokacija</a></li>
    <li><a routerLink="/karte">Karte</a></li>
    <li><a routerLink="/cenovnik" >Cenovnik</a></li>

    <div *ngIf="!isLoggedIn" class="klasa">
      <li><a routerLink="/login">Prijava</a></li>
      <li><a routerLink="/register" >Registracija</a></li>    
    </div>

    <div *ngIf="isLoggedIn" class="klasa">
      <li><a routerLink="/profil">MojProfil</a></li>
      <li><a (click)="logout($event)" >Odjava</a></li>    
    </div>
  </ul>
</nav>