<br>
<br>
<form class="form" [formGroup]="timetableForm" (ngSubmit)="getTimetable()"><br><br>
  <br><br><div class="container">
    <div class="row">
  
    <select name="dayType" class="form-control"  formControlName="dayType" >
      <option>Weekday</option>
      <option>Weekend</option>
    </select><br>
    
    <select name="lineType" class="form-control" (change)="getLines($event)"  formControlName="lineType">
      <option>City</option>
      <option>Suburban</option>
    </select>
    <br>
              
    <select name="lineName" class="form-control" required formControlName="lineName">
        <option></option>
      <option *ngFor="let line of Lines"> {{line.LineName}}</option>
    </select><br>
    <div *ngIf="timetableForm.controls.lineName.value">
        <button class="btn btn-lg btn-dark btn-block text-uppercase active" type="submit">Prikaži</button>
      </div>
      <br>
      <div *ngIf="!timetableForm.controls.lineName.value">
        <button class="btn btn-lg btn-dark btn-block text-uppercase disabled"  type="submit">Prikaži</button>
      </div>
    <!--<button class="btn btn-lg btn-primary btn-block text-uppercase active" type="submit">Schedule</button>-->
    <br>
    
    <div>
    <li *ngFor="let item of Departures">
        {{item.Departures}} 
    </li>
  </div>
                          
            
    </div><br>      
  </div>  
</form>