<br>
<br>
<div class="form">
  <h3>Cenovnik</h3>
<select name="tipKarte" class="form-control" (change)="onSelectKarta($event)" class="selectClass">
  <option *ngFor="let karta of tipKarte" [value]="karta">{{karta}}</option>
</select>
<select name="tipKorisnika" class="form-control" (change)="onSelectKorisnik($event)" class="selectClass">
  <option *ngFor="let korisnik of tipKorisnika" [value]="korisnik">{{korisnik}}</option>
</select>
<!--<br>
{{izabranaKarta}}
<span>
  {{izabraniKorisnik}}

</span>!-->
<br>
<div class="labela">
  <label>Cena karte: </label>
  <span>{{cena}}</span>
  <span>rsd</span>

</div>
</div>