<div class="row">
  <div class="login-page column">
    <div>
        <div class="form">
          <form class="login-form" [formGroup]="addLineForm">
            <input formControlName="lineName" type="text" placeholder="Ime"/>
            <br>
            <div>
            <select formControlName="lineType" [value]='City'>
                <option value="City">City</option>
                <option value="Suburban">Suburban</option>
            </select>
            </div>
            <br>
            <div class="form-label-group">
            <div *ngFor="let s of allStations">
               <input type="checkbox" isChecked [checked]="s.Exist" value="s.Id" (change)="checkValue($event, s.Id)">{{s.Name}}
            </div>
          </div>
            <br>
            <br>
            <div *ngIf="addLineForm.valid">
                <button class="btn btn-lg btn-dark btn-block text-uppercase active" (click)="addLine()">Dodaj liniju</button>
              </div>
              <div *ngIf="!addLineForm.valid">
                <button class="btn btn-lg btn-dark btn-block text-uppercase disabled" [disabled]="!addLineForm.valid">Dodaj liniju</button>
              </div><br>
          </form>
        </div>
      </div>
      <div>
          <div class="form">
            <form class="login-form" [formGroup]="editOrRemoveLineForm">
              <select formControlName="lines" (change)="onSelect($event)" class="selectClass">
                <option *ngFor="let l of lines" [value] = "l.Id">{{l.LineName}}</option> 
              </select>
              <input formControlName="lineName" type="text" placeholder="Ime"/>
              <select formControlName="lineType">
                  <option value="0">City</option>
                  <option value="1">Suburban</option>
              </select><br>
              <br>
              <div *ngFor="let s of allStations">
                  <input type="checkbox" isChecked [checked]="s.Exist" value="s.Id" (change)="checkValue($event, s.Id)">{{s.Name}}
    
                </div>
                <br>
              <div *ngIf="editOrRemoveLineForm.valid">
                  <button class="btn btn-lg btn-dark text-uppercase active" (click)="editLine()">Promeni liniju</button>
                </div>
                <div *ngIf="!editOrRemoveLineForm.valid">
                  <button class="btn btn-lg btn-dark text-uppercase disabled" [disabled]="!editOrRemoveLineForm.valid">Promeni liniju</button>
                </div>
                <br>
                <div *ngIf="editOrRemoveLineForm.valid">
                  <button class="btn btn-lg btn-dark text-uppercase active" (click)="deleteLine()">Obrisi liniju</button>
                </div>
                <div *ngIf="!editOrRemoveLineForm.valid">
                    <button class="btn btn-lg btn-dark text-uppercase disabled" [disabled]="!editOrRemoveLineForm.valid">Obrisi liniju</button>
                </div>
            </form>
          </div>
      </div>
      <br/>
      <br/>
      <br/>
  </div>
  </div>
    