<br>
<br>
<div class="form">
    <div *ngIf="userProfileActivated != '1' && temp">
        <button type="button" class="btn btn-lg btn-block" disabled>Profil nije verifikovan!</button>
      </div>
      <div *ngIf="userProfileActivated == '1' || !temp">
  <form class="login-form" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    
    <label>Izaberite kartu</label>
    <br>
    <select formControlName="typeOfCard" (change)="onSelect($event)" class="selectClass">
      <option>TimeTicket</option>
      <option *ngIf="loggedIn">DayTicket</option>
      <option *ngIf="loggedIn">MonthTicket</option>
      <option *ngIf="loggedIn">YearTicket</option>
    </select>
  </form>
  <br>
  <label>Cena karte: </label>
    <span>{{price}}</span>
    <span>rsd</span>
    <div *ngIf="!loggedIn">
      <form class="login-form" [formGroup]="emailForm">
      <input name="email" formControlName="email" type="email" placeholder="Email" required>
  </form>
</div>
    <br>
    <div *ngIf="emailForm.valid && !loggedIn">
        <button class="btn btn-lg btn-dark btn-block text-uppercase active" (click)="buyTicket()">Buy</button>
      </div>
      <div *ngIf="!emailForm.valid && !loggedIn">
          <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!emailForm.valid">Buy</button>
        </div>
        <div *ngIf="loggedIn">
            <button class="btn btn-lg btn-dark btn-block text-uppercase active" (click)="buyTicket()">Buy</button>
          </div>
      
    
        <br><ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>
