<br>
<br>
<div class="form">
    <div *ngIf="userProfileActivated != '1' && temp">
        <button type="button" class="btn btn-lg btn-block" disabled>Profil nije verifikovan!</button>
      </div>
      <div *ngIf="userProfileActivated == '1' || !temp">
  <form class="login-form" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    
    <label>Izaberite kartu</label>
    <br>
    <select formControlName="typeOfCard" (change)="onSelect($event)" class="selectClass">
      <option>TimeTicket</option>
      <option *ngIf="loggedIn">DayTicket</option>
      <option *ngIf="loggedIn">MonthTicket</option>
      <option *ngIf="loggedIn">YearTicket</option>
    </select>
    <button type="submit" [disabled]="!ticketForm.valid">Kupi</button>
  </form>
  <br>
  <label>Cena karte: </label>
    <span>{{price}}</span>
    <span>rsd</span>
    <div *ngIf="!loggedIn">
      <input #emailInput name="email" type="email" placeholder="Email" (input)="email=emailInput.value" required>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="buyTicket()">Buy</button>
        <br><ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>
